<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}">Webtech hotel</title>
    <link rel="stylesheet" href="../../../css/styles.css" th:href="@{/css/styles.css} ">
</head>

<body>
    <div class="login-container">
        <h1 th:text="#{login}">Login</h1>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <div class="form-group">
                <label th:text="#{username}" for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>     
            <div class="form-group">
                <label th:text="#{password}" for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
    </div>
</body>
</html>