<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../../css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="navbar-container" th:fragment="navbar">
        <header>
            <nav>
                <ul>
                    <li><a th:href="@{/home}" th:text="#{home}" style="font-weight: bold;">Home</a></li>
                </ul>
            </nav>
            <div class="user-container">
                <ul>
                    <li><a th:href="@{/pricing}" th:if="${session.user and session.user.isAdmin}" th:text="#{admin.pricing}" style="font-weight: bold;">Change pricing</a></li>
                    <li><a th:href="@{/signin}" th:unless="${session.user}" th:text="#{signin}" style="font-weight: bold;">Sign in</a></li>
                    <li><a th:href="@{/login}" th:unless="${session.user}" th:text="#{login}" style="font-weight: bold;">Login</a></li>
                    <li><span th:if="${session.user}" style="font-weight: bold;" th:text="${session.user.username}">Username</span></li>
                    <li><a class="logout" th:href="@{/logout}" th:if="${session.user}" th:text="#{logout}" style="font-weight: bold;">Logout</a></li>
                </ul>
            </div>
        </header>
    </div>
</body>
</html>
